# Default root font size in pixels for the popup UI (e.g. 16)
VITE_DEFAULT_FONT_SIZE=16

# Strips all console.* calls from compiled bundles if set to true (true/false)
VITE_DISABLE_LOG=false

# Displays the formatted date/time of the build in the popup header if set to true (true/false)
VITE_SHOW_BUILD_DATE=false
